
@font-face {
  font-family: 'MuseoSans-300Italic';
  src: url('MuseoSans-300Italic.eot?#iefix') format('embedded-opentype'),  url('MuseoSans-300Italic.woff') format('woff'), url('MuseoSans-300Italic.ttf')  format('truetype'), url('MuseoSans-300Italic.svg#MuseoSans-300Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
